<!DOCTYPE html>
<html lang="en">
<title>{{title}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
<link rel="stylesheet" href="../../../css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha256-f6fW47QDm1m01HIep+UjpCpNwLVkBYKd+fhpb4VQ+gE=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" integrity="sha256-IyR33qBiUXj7Clf/BpIUivtGnpIpLIL0XOCEGSQPZxg=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha256-321PxS+POvbvWcIVoRZeRmf32q7fTFQJ21bXwTNWREY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js" integrity="sha256-vVnwgKyq3pIb4XdL91l1EC8j7URqDRK8BAWvSnKX0U8=" crossorigin="anonymous"></script>
<script src="../../js/game.js"></script>
<script src="https://rawgit.com/pshihn/rough/master/dist/rough.js"></script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  html,body,h1,h2,h3,h4,h5,h6,p {font-family: "Roboto", sans-serif}
  .hidden {
    display: none;
  }
</style>
<body>
{{{body}}}
</body>
<div class="footer" id="tempFooter">
  Made using the <a href="https://roughjs.com">Rough.JS library</a>, and snippets of css from the <a href="https://nostalgic-css.github.io/NES.css/">NES.CSS project</a>.
</div>
<footer id="siteFooter" class="hidden">
  Made using the <a href="https://roughjs.com">Rough.JS library</a>, and snippets of css from the <a href="https://nostalgic-css.github.io/NES.css/">NES.CSS project</a>.
</footer>
</html>
