<!DOCTYPE html>
<html lang="en">
<title>Hello World</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../css/normalize.css">
<link rel="stylesheet" href="../../../css/style.css">
<script src="../../js/game.js"></script>
<script src="https://rawgit.com/pshihn/rough/master/dist/rough.js"></script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  html,body,h1,h2,h3,h4,h5,h6,p {font-family: "Roboto", sans-serif}
  .hidden {
    display: none;
  }
</style>
<body>
{{{body}}}
</body>
</html>
