<h1 id="simpleTitle">{{title}}</h1>
<div id="basicStats" class="">
  <p>You currently have <span id="healthUI">1</span> health</p>
  <p id="moneyUIDesc" class="hidden">You currently have $<span id="moneyUI">0</span></p>
  <p id="locationUIDesc" class="hidden">You are in <span id="locationUI"></span>.</p>
</div>
<div id="stats-is-leveled" class="hidden">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Health</p>
        <p id="healthUILeveled" class="title"></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Awareness</p>
        <p id="awarenessUILeveled" class="title"></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <img src="../../img/logo.png" alt="">
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Money</p>
        <p id="moneyUILeveled" class="title"></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Location</p>
        <p id="locationUILeveled" class="title"></p>
      </div>
    </div>
  </nav>
</div>
<div id="statPadding">
  <br />
  &nbsp;
</div>

<p id="messageUI">&nbsp;</p>
<button type="button" onClick="introClick(1)" id="introButton" class="simpleButton is-black">Panic!</button>
<button type="button" onClick="findingHomeClick(4)" id="findingHomeButton" class="hidden simpleButton">Look Around</button>
<button type="button" onClick="goLeft()" id="goLeftButton" class="hidden simpleButton">Go Left</button>
<button type="button" onClick="goRight()" id="goRightButton" class="hidden simpleButton">Go Right</button>
<button type="button" onClick="enterHome()" id="enterHomeButton" class="hidden simpleButton">Enter Home</button>
<button type="button" onClick="createCharacter()" id="createCharacterButton" class="hidden simpleButton">Create Character</button>
<br />

<section id="map" class="hidden nes-container with-title is-centered">
  <p class="title">Map</p>
  <canvas id="canvas" width="400" height="400"></canvas>
</section>


