<h1>{{title}}</h1>
<p>You currently have <span id="healthUI">1</span> health</p>
<p id="moneyUIDesc" class="hidden">You currently have $<span id="moneyUI">0</span></p>
<p id="locationUI" class="hidden">You are in a dirty alley.</p>
<div id="statPadding">
  <br />
  &nbsp;
</div>
<p id="messageUI">&nbsp;</p>
<button type="button" onClick="introClick(1)" id="introButton" class="">Panic!</button>
<button type="button" onClick="findingHomeClick(1)" id="findingHomeButton" class="hidden simpleButton">Look Around</button>
<div id="map" class="hidden">
  <canvas id="canvas" width="400" height="400"></canvas>
</div>
