<div id="stats-is-leveled">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Health</p>
        <p id="healthUILeveled" class="title"></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Awareness</p>
        <p id="awarenessUILeveled" class="title"></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <img src="../../img/logo.png" alt="">
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Money</p>
        <p id="moneyUILeveled" class="title"></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">{{#if user}}<a href="../../users/logout">Logout ({{user.username}})</a>{{else}}<a href="../../users/login">Login</a>{{/if}}</p>
      </div>
    </div>
  </nav>
</div>
<div id="statPadding">
  <br />
  &nbsp;
</div>

<section id="messageAndMap" class="columns">
  <article id="refinedMessageUI" class="column is-half">
    <div class="columns">
      <div class="column is-full">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Actions
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              {{#unless user}}
              <button type="button" onClick="introClick(1)" id="introButton" class="button is-black is-medium">Panic!</button>
              <button type="button" onClick="findingHomeClick(4)" id="findingHomeButton" class="hidden button is-info is-medium">Look Around</button>
              <button type="button" onClick="goLeft()" id="goLeftButton" class="hidden button is-info is-medium">Go Left</button>
              <button type="button" onClick="goRight()" id="goRightButton" class="hidden button is-info is-medium">Go Right</button>
              <button type="button" onClick="enterHome()" id="enterHomeButton" class="hidden button is-info is-medium">Enter Home</button>
              <button type="button" onClick="createCharacter()" id="createCharacterButton" class="hidden button is-info is-medium">Create Character</button>
              {{/unless}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-full">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              The Story So Far..
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <span id="messageUI2"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <section id="map" class="hidden nes-container with-title is-centered">
    <p class="title">Map - <span id="locationUILeveled"></span></p>
    <canvas id="canvas" width="400" height="400"></canvas>
  </section>

</section>
