<h1>{{title}}</h1>
<p>You currently have <span id="healthUI">1</span> health</p>
<p id="moneyUIDesc" class="hidden">You currently have $<span id="moneyUI">0</span></p>
<p id="locationUIDesc" class="hidden">You are in <span id="locationUI"></span>.</p>
<div id="statPadding">
  <br />
  &nbsp;
</div>
<p id="messageUI">&nbsp;</p>
<button type="button" onClick="introClick(1)" id="introButton" class="">Panic!</button>
<button type="button" onClick="findingHomeClick(1)" id="findingHomeButton" class="hidden nes-btn is-primary">Look Around</button>
<div id="map" class="hidden nes-container with-title is-centered">
  <p class="title">Map</p>
  <canvas id="canvas" width="400" height="400"></canvas>
</div>
