<h1>{{title}}</h1>
<div id="basicStats" class="">
  <p>You currently have <span id="healthUI">1</span> health</p>
  <p id="moneyUIDesc" class="hidden">You currently have $<span id="moneyUI">0</span></p>
  <p id="locationUIDesc" class="hidden">You are in <span id="locationUI"></span>.</p>
</div>

<div id="barStats" class="hidden">
  <div id="awareStats">
    <div id="healthBarHolder">
      <div id="healthBar">Health</div>
    </div>
    <div id="awareBarHolder">
      <div id="awareBar">Awareness</div>
    </div>
  </div>
    <p id="moneyUIBarDesc">You currently have $<span id="moneyUIBar">0</span></p>
    <p id="locationUIBarDesc">You are in <span id="locationUIBar"></span>.</p>
</div>

<div id="statPadding">
  <br />
  &nbsp;
</div>

<p id="messageUI">&nbsp;</p>
<button type="button" onClick="introClick(1)" id="introButton" class="simpleButton is-black">Panic!</button>
<button type="button" onClick="findingHomeClick(4)" id="findingHomeButton" class="hidden simpleButton">Look Around</button>
<br />

<section id="map" class="hidden nes-container with-title is-centered">
  <p class="title">Map</p>
  <canvas id="canvas" width="400" height="400"></canvas>
</section>
