<h1>{{title}}</h1>
<button type="button" onClick="createMap(2)" id="createMapButton" class="simpleButton">Look Around</button>
<section id="map" class="nes-container with-title is-centered">
  <p class="title">Map</p>
  <canvas id="canvas" width="400" height="400"></canvas>
</section>
